{% extends 'news/home.html' %}
{% block title %}Добавить новость{% endblock %}
{% block content %}
<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'epl' %}" class="nav-link" aria-current="page">АПЛ</a></li>
        <li class="nav-item"><a href="{% url 'laliga' %}" class="nav-link">ЛаЛига</a></li>
        <li class="nav-item"><a href="{% url 'seria_a' %}" class="nav-link">Серия А</a></li>
        <li class="nav-item"><a href="{% url 'bundesliga' %}" class="nav-link active">Бундеслига</a></li>
        <li class="nav-item"><a href="{% url 'ligue1' %}" class="nav-link">Лига 1</a></li>
          <li class="nav-item"><a href="{% url 'ucl' %}" class="nav-link">Лига Чемпионов</a></li>
      </ul>
    </header>
  </div>
  {% for post in posts %}
    <ul>
        <li>
            <br>
            <h2>{{post.title}}</h2>
            <br>
            {% if post.image %}
            <p><img class="img.img-article-left.thumb" src="{{post.image.url}}"></p>
            {% endif %}
            {% autoescape on %}
            {{post.content|linebreaks}}
            {% endautoescape %}
            <br>
            {% endfor %}
        </li>
    </ul>
{% endblock %}